<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home_boton">
            
        </div>
        <a class="home_boton" href="{% url "inicio" %}">INICIO</a>
        <a class="nav_boton" href="{% url "cuartoFormulario" %}">CREAR CUARTOS</a>
        <a class="nav_boton" href="{% url "buscarPuesto" %}">BUSCAR EMPLEADOS</a>
        <a class="nav_boton" href="{% url "empleadoFormulario" %}">CREAR EMPLEADOS</a>
        <a class="nav_boton" href="{% url "listaEmpleados" %}">LISTA DE EMPLEADOS</a>
        <a class="nav_boton" href="{% url "clienteFormulario" %}">CREAR CLIENTES</a>
        <a class="nav_boton_registrar" href="{% url "inicio" %}">REGISTRATE!</a>
        
        
    </div>
</nav>